{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
     <style>
      .main {
        margin: 0 1em;
        font-family: Helvetica, sans-serif;
        font-weight: 400;
        color: rgb(50,50,50);
        max-width: 800px;
      }

      section {
        margin-top: 40px;
      }
    </style>
</head>
<body>
    {{template "main" .}}
</body>
</html>
{{end}}